<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <ul class="navbar-nav ">
          <li class="nav-item active ">
            <a class="nav-link" href="#">{{title}} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-dismiss="modal">Link</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>


<div id="wpp"></div>
<!-- Navbar -->

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-purple px-4 py-3">
  <a class="navbar-brand no-mostrar logo" href="#"></a>
  <button class="navbar-toggler logo" id="togglebutton" type="button" data-toggle="modal" data-target="#exampleModal"
    aria-controls="modal">
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">

    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">{{title}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-dismiss="modal">Link</a>
      </li>
    </ul>
  </div>
</nav>

<div id="carouselExampleIndicators" class="carousel slide pt-6" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/img/c0.png" alt="First slide">
      <div class="carousel-caption d-block">
        <h3>¿Quieres tener tu propia página web?</h3>
        <p class="d-none d-sm-block">Diseñamos y publicamos tu página web por la mejor relación precio-calidad!.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/c1.png" alt="Second slide">
      <div class="carousel-caption d-block">
        <h3>Aumenta el impacto de tu idea a través de la web!</h3>
        <p class="d-none d-sm-block">Con una página web bien diseñada podrás aumentar tus visualizaciones y alcanzar
          potenciales clientes .</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/c2.png" alt="Third slide">
      <div class="carousel-caption d-block">
        <h3>¿Estás viendo esto desde tu móvil?</h3>
        <p class="d-none d-sm-block">Pasamos muchas horas frente a la pantalla del celular, nuestras páginas ofrecen una
          experiencia de usuario
          responsiva e intuitiva que se enfoca en dispositivos portátiles.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/c3.png" alt="Fourth slide">
      <div class="carousel-caption d-block">
        <h3>Reúne todos tus medios de contacto en un sólo lugar!</h3>
        <p class="d-none d-sm-block">Integramos tus redes sociales en la página web para que el visitante tenga todas
          las opciones para
          contactarte.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/c4.png" alt="Fifth slide">
      <div class="carousel-caption d-block">
        <h3>¿Necesito un página web?</h3>
        <p class="d-none d-sm-block">Todo se hace desde la web, así que no esperes más y contáctanos para asesorarte.
        </p>
      </div>
    </div>
  </div>


</div>
<div class="container">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">¿Qué es una landing page? <span class="text-muted">La página web mas simple</span>
      </h2>
      <p class="lead">Es una página web individual diseñada para captar la atención del visitante y lograr un objetivo
        claro.</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" src="assets/img/hvsl.jpg" width="500"
        height="500" focusable="false">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">¿Homepage o landingpage? <span class="text-muted">Diferencias</span></h2>
      <p class="lead">En una homepage se capturan visitantes que provienen de diversas fuentes, y esta diseñada con
        diferentes elementos que muestran al usuario , todas las posibilidades que se ofrecen. Por el contrario una
        landing page atrae el usuario que tienen un interés particular hacia un punto específico para capturar su
        atención y lograr que realice una acción (call to action).</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" src="assets/img/hvsl.jpg" width="500"
        height="500" focusable="false">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">¿Necesito una landing page? <span class="text-muted"></span></h2>
      <p class="lead">Si por ejemplo, tienes una campaña de marketing para ofrecer un producto o servicio y quieres
        mostrar en una sóla página toda las ventajas que tiene el usuario al adquirir tu producto o contratar tu
        servicio, lo ideal es redirigir el tráfico hacia a una landing page donde se muestre de un vistazo las bondades
        de tu producto y tener mayor oportunidad de conseguir la compra de tu producto o guardar el contacto de ese
        potencial cliente por medio de un formulario.</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" src="assets/img/hvsl.jpg" width="500"
        height="500" focusable="false">
    </div>
  </div>



</div>

<router-outlet></router-outlet>


<footer class="footer">
  <div class="container text-white">
    <br>
    <div class="row">
   
      <div class="col-12">
        <ul class="list-group list-group-horizontal social-media justify-content-md-center" >
          <li class="list-group-item social-icon facebook mx-2"></li>
          <li class="list-group-item social-icon instagram mx-2">  </li>
        </ul>
       
      </div>
     
    </div>
    <div class="row">
      <div class="col-12 text-center pt-4">
        <p>Copyright &copy; <a href="https://farmandosb.github.io/armandocode">armandocode</a> by
          <a href="https://farmandosb.github.io">farmandosb</a>.</p>
      </div>
    </div>
  </div>
</footer>