.navbar {
    transition: all .4s;
   
}

.bg-purple{
    background-color: #222;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: rgba(255, 255, 255, 0.9) !important;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0);
}

.navbar.active .nav-link {
    color: black !important;
}   

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: red !important; 
    
    text-decoration: none !important;
}

.navbar.active .navbar-toggler{
    transition: 0.4s;
    width: 65px;
    height: 65px;
    background: url(assets/img/armandologo150x150.svg);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(2px 2px 2px #555);
    border: none;   
    background-position: center;
    opacity: 0.9;
    
}

.navbar .logo{
    width: 60px;
    height: 60px;
    background: url(assets/img/armandologo150x150.svg);
    background-size: contain;
    
    background-repeat: no-repeat;
    filter: drop-shadow(2px 2px 2px #555);
    border: none;   
    background-position: center;
    border: none;
    outline: none;
}



.navbar.active .navbar-brand {
    color: #555 !important;
}


/* Change navbar styling on small viewports */
@media (max-width: 992px) {
    .no-mostrar{
        display:none !important ;
    }
    .navbar {
        background: #fff  !important;
    }

    .navbar.active {
        background: rgba(255, 255, 255, 0) !important;
        
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #EEE !important;
    }
    

    
      
}

@media (min-width: 576px){
.modal-dialog {
    max-width: 100% !important;
    margin: 0px !important;
    height: 99% !important;

    
}

.modal-content {
    
    height: 100%;
}

.modal-body {
    text-align: center;
}

.modal-body li{
    padding-top: 25px;
    
}
}



.carousel-caption{
    top: 50%;
    transform: translateY(-30%);
    bottom: initial;
}
.carousel-item{
    -webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.pt-6{
    padding-top: 90px;
}


/*footer*/
.footer {
    background-color: #aaa;
    width: 100%;
    min-height: 100px;
    text-decoration: none;
  }

  .footer a, .footer a:hover{
      color:white;
      text-decoration: none;
  }

  .social-media .list-group-item{
      background-color: transparent;
      border: none;
  }



  .social-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    
  
  }

  .facebook{
    background: url(src/assets/img/iconmonstr-facebook-5.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .instagram{
    background: url(src/assets/img/iconmonstr-instagram-15.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  





